<!DOCTYPE HTML>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:method="http://www.w3.org/1999/xhtml" xmlns:action="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <h2>ИЗМЕНИТЕ ИНФОРМАЦИЮ О ПОЛЬЗОВАТЕЛЕ</h2>

    <br>

    <form method="post" th:action="@{/}" th:object="${user}">
        <input type="hidden" th:field="*{id}"/>
        ИМЯ <input required type="text" th:field="*{name}"/>
        <br><br>
        ФАМИЛИЯ <input required type="text" th:field="*{last_name}"/>
        <br><br>
        ОТДЕЛ <input required type="text" th:field="*{department}"/>
        <br><br>
        <button type="submit" class="btn btn-success">Сохранить изменения</button>
    </form>

</head>
<body>

</body>
</html>